<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MuzQ - Create Room</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="flex flex-row">
      <div class="container w-[40vw] h-[30vh] mr-2">
        <h1 class="text-3xl">Settings</h1>
        <div class="flex flex-row space-x-2 items-center justify-around w-4/5">
          <div class="flex flex-col justify-center w-4/5 h-1/4">
            <div class="flex flex-row space-x-2 items-center">
              <input type="checkbox" />
              <p>Guest can pause</p>
            </div>
            <div class="flex flex-row space-x-2 space-y-2 items-center">
              <input type="checkbox" />
              <p>Guest can queue</p>
            </div>
          </div>
          <div class="space-y-2">
            <h1>Display Name</h1>
            <input type="text" class="inp focus:outline-none"/>
          </div>
        </div>
      </div>
      <div class="container w-[40vw] h-[30vh] ml-2">
        <h1 class="text-3xl">{{.}}</h1>
        <div class="w-4/5 h-1/4 flex justify-center">
          <button class="btn bg-[#008cba]">Create</button>
        </div>
      </div>
    </div>
  </body>
</html>
